body {
    font-size: 1.4em;
    font-family: open_sansregular;
    font-style: normal;
    font-weight: normal;
}

#main-menu ul {
    text-align: center;
}

#main-menu ul li {
    float: none;
    display: inline-block;
}

#main-menu ul li a {
    font-family: robotoregular;
    font-size: 1.6em;
}