<div ng-controller="InventoryController">
    <div id="inventory-controls">
        <div class="btn-group items-order-checkboxes">
            <button type="button" class="btn btn-default active" ng-model="itemsOrder" btn-radio="'By type'">By type</button>
            <button type="button" class="btn btn-default" ng-model="itemsOrder" btn-radio="'By name'">By name</button>
        </div>
        <div class="btn-group type-filter-checkboxes">
            <button type="button" class="btn" ng-class="{ 'btn-primary': type==='weapon', 'btn-success': type==='ammo', 'btn-warning': type==='other' }" ng-repeat="type in itemTypes" ng-model="itemTypesFilterState[type]" btn-checkbox>{{type}}</button>
        </div>
        <ul class="pagination" ng-show="inventoryByPages.length > 1">
            <li ng-class="{ disabled: currentPageNumber === 0 }"><a href="#" ng-click="prevPage($event)">&laquo;</a></li>
            <li ng-repeat="page in inventoryByPages" ng-class="{ active: currentPageNumber === $index }"><a href="#" ng-click="goToPage($index)">{{$index + 1}}</a></li>
            <li ng-class="{ disabled: currentPageNumber === inventoryByPages.length - 1 }"><a href="#" ng-click="nextPage($event)">&raquo;</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row no-space">
            <ul rn-carousel rn-carousel-index="currentPageNumber">
                <li ng-repeat="characters in inventoryByPages" ng-init="pageIndex = $index">
                    <div ng-repeat="character in characters" class="character-column" ng-class="determineColumnClasses(pageIndex, $index, $first)">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h4>{{character.characterName}}</h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="items">
                                    <li class="add-new-item">
                                        <div class="row">
                                            <div class="col-lg-2 item-type-wrapper">
                                                <i class="item-type" title="{{character.newItemType}}" ng-click="changeNewItemType(character.id)">{{character.newItemType}}</i>
                                            </div>
                                            <div class="col-lg-7 item-name-wrapper">
                                                <div class="item-name-editor">
                                                    <input type="text" class="form-control input-sm" ng-model="character.newItemName" it-enter="focusNewItemQty($index)" it-esc="cancelNewItemCreation(character.id)" placeholder="New item">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-lg-offset-1 item-qty-wrapper">
                                                <div class="item-qty-editor">
                                                    <input type="text" class="form-control input-sm" ng-model="character.newItemQuantity" it-enter="addNewItem(character.id)" it-esc="cancelNewItemCreation(character.id)">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li ng-repeat="item in character.items | itemTypeFilter:itemTypesFilterState">
                                        <div class="row">
                                            <div class="col-lg-2 item-type-wrapper">
                                                <i class="item-type" title="{{item.type}}" ng-click="changeItemType(character.id, item.id)">{{item.type}}</i>
                                            </div>
                                            <div class="col-lg-7 item-name-wrapper">
                                                <div class="item-name" ng-hide="isEditingItemName(character.id, item.id)">
                                                    <span ng-click="startEditItemName(character.id, item.id, $event)">{{item.name}}</span>
                                                </div>
                                                <div class="item-name-editor" ng-show="isEditingItemName(character.id, item.id)">
                                                    <input type="text" class="form-control input-sm" ng-model="item.name" it-enter="saveItemName(character.id, item.id)" it-esc="cancelEditItemName(character.id, item.id)" ng-blur="cancelEditItemName(character.id, item.id)" it-edit-name-grab-focus>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 item-qty-wrapper">
                                                <div class="item-qty" ng-hide="isEditingItemQty(character.id, item.id)">
                                                    <span ng-click="startEditItemQty(character.id, item.id)">{{item.quantity}}</span>
                                                </div>
                                                <div class="item-qty-editor" ng-show="isEditingItemQty(character.id, item.id)">
                                                    <input type="text" class="form-control input-sm" ng-model="item.quantity" it-enter="saveItemQty(character.id, item.id)" it-esc="cancelEditItemQty(character.id, item.id)" ng-blur="cancelEditItemQty(character.id, item.id)" it-edit-qty-grab-focus>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 delete-item-wrapper">
                                                <button class="btn btn-xs btn-danger" ng-click="deleteItem(character.id, item.id)"><i class="delete-item fa fa-trash-o"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>