<div class="container-fluid" ng-controller="InventoryController">
    <div class="row no-space">
        <div ng-repeat="character in inventory" ng-class="calculateBootstrapClasses($first)" class="character-column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>{{character.characterName}}</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="items">
                        <li ng-repeat="item in character.items">
                            <div class="row">
                                <div class="col-lg-2 item-type-wrapper">
                                    <i class="item-type" title="{{item.type}}" ng-click="changeItemType(character.id, item.id)">{{item.type}}</i>
                                </div>
                                <div class="col-lg-7 item-name-wrapper">
                                    <div class="item-name" ng-hide="isEditingItemName(character.id, item.id)">
                                        <span ng-click="startEditItemName(character.id, item.id, $event)">{{item.name}}</span>
                                    </div>
                                    <div class="item-name-editor" ng-show="isEditingItemName(character.id, item.id)">
                                        <input type="text" class="form-control input-sm" ng-model="item.name" it-enter="saveItemName(character.id, item.id)" it-esc="cancelEditItemName(character.id, item.id)" ng-blur="cancelEditItemName(character.id, item.id)" it-grab-focus>
                                    </div>
                                </div>
                                <div class="col-lg-2 item-qty-wrapper">
                                    <div class="item-qty" ng-hide="isEditingItemQty(character.id, item.id)">
                                        <span ng-click="startEditItemQty(character.id, item.id)">{{item.quantity}}</span>
                                    </div>
                                    <div class="item-qty-editor" ng-show="isEditingItemQty(character.id, item.id)">
                                        <input type="text" class="form-control input-sm" ng-model="item.quantity" it-enter="saveItemQty(character.id, item.id)" it-esc="cancelEditItemQty(character.id, item.id)" ng-blur="cancelEditItemQty(character.id, item.id)">
                                    </div>
                                </div>
                                <div class="col-lg-1 delete-item-wrapper">
                                    <button class="btn btn-xs btn-danger" ng-click="deleteItem(character.id, item.id)"><i class="delete-item fa fa-trash-o"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>