<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/app/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/app/vendor/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/app/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/app/assets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/app/assets/css/main.css">
</head>
<body ng-app="inventoryTracker">
    <div ng-controller="MainController">
        <it-size-tracker></it-size-tracker>
        <tabset id="main-menu">
            <tab select="go('/')" heading="Inventory"></tab>
            <tab select="settings('/')" heading="Settings" disabled=true></tab>
        </tabset>
        <ng-view></ng-view>
    </div>

    <script type="text/javascript" src="/app/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/app/vendor/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/app/vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/app/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/controllers/main.js"></script>
    <script type="text/javascript" src="/app/controllers/inventory.js"></script>
    <script type="text/javascript" src="/app/directives/enter.js"></script>
    <script type="text/javascript" src="/app/directives/esc.js"></script>
    <script type="text/javascript" src="/app/directives/edit-name-grab-focus.js"></script>
    <script type="text/javascript" src="/app/directives/edit-qty-grab-focus.js"></script>
    <script type="text/javascript" src="/app/services/inventory.js"></script>
</body>
</html>